

.wp-block-lipps-lipps-product-block {
	margin-top: 68px;
	padding-top: 35px;
}

.wp-block-lipps-lipps-product-block .container {
	margin-left: auto;
	margin-right: auto;
	max-width: 940px;
}

.wp-block-lipps-lipps-product-block .container:before,
.wp-block-lipps-lipps-product-block .container:after {
	content: " ";
	display: table;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2;
}

.wp-block-lipps-lipps-product-block .container:after {
	clear: both;
}

.wp-block-lipps-lipps-product-block .product-subtitle {
	font-size: 1.6rem;
	line-height: 36px;
}

.wp-block-lipps-lipps-product-block .product-title {
	color: #969696;
	font-size: 1.7rem;
	line-height: 120%;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.wp-block-lipps-lipps-product-block .title-container {
	padding-top: 32px;
	background-color: #f5f5f5;
}

.wp-block-lipps-lipps-product-block .outer-container {
	padding-bottom: 32px;
	background-color: #f5f5f5;
}

.wp-block-lipps-lipps-product-block .product-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.wp-block-lipps-lipps-product-block .item {
	margin-top: 32px;
	margin-bottom: 32px;
	-webkit-box-flex: 0;
	-webkit-flex: 0 33%;
	-ms-flex: 0 33%;
	flex: 0 33%;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.wp-block-lipps-lipps-product-block img {
	max-width: 100%;
	vertical-align: middle;
	border: 0;
}

.wp-block-lipps-lipps-product-block .product-image-container {
	position: relative;
}

.wp-block-lipps-lipps-product-block .product-image {
	height: 300px;
	text-align: center;
	clear: both;
}

.wp-block-lipps-lipps-product-block p {
	margin-top: 0;
	margin-bottom: 10px;
}

.wp-block-lipps-lipps-product-block .specification {
	grid-auto-columns: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 4px;
	grid-template-areas: ".";
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows: auto 4px auto 4px auto 4px auto;
	grid-template-rows: auto auto auto auto;
}

.wp-block-lipps-lipps-product-block .product-name {
	font-size: 14px;
	margin-bottom: 2px;
}

.wp-block-lipps-lipps-product-block .product-variation {
	font-size: 14px;
	margin-bottom: 2px;
}

.wp-block-lipps-lipps-product-block .product-tag {
	font-size: 12px;
	margin-bottom: 2px;
}

.wp-block-lipps-lipps-product-block .color-container {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.wp-block-lipps-lipps-product-block .product-price {
	font-size: 14px;
	margin-top: 26px;
	margin-bottom: 26px;
	line-height: 20px;
}

.wp-block-lipps-lipps-product-block .color-list {
	display: inline-block;
	margin-right: 9px;
	margin-bottom: 0px;
	margin-left: 9px;
	padding-left: 0px;
	list-style-type: none;
}

.wp-block-lipps-lipps-product-block .color-palette {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 4px;
	margin-left: 4px;
	border-radius: 99px;
	background-color: #dedede;
}

.wp-block-lipps-lipps-product-block ul {
	margin-top: 0px;
	margin-bottom: 10px;
	padding-left: 40px;
}

.wp-block-lipps-lipps-product-block .w-button {
	display: inline-block;
	padding: 9px 15px;
	color: white;
	border: 0;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0;
}

.wp-block-lipps-lipps-product-block .lipps-boy-link-button {
	padding: 8px 42px;
	height: auto;
	font-size: 13px;
	margin-top: auto;
	-ms-flex-item-align: center;
	align-self: center;
}

.wp-block-lipps-lipps-product-block .slider-button-container {
	z-index: 2;
	top: auto;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 10px;
	height: 40px;
	text-align: center;
	font-size: 0.5rem;
}

.wp-block-lipps-lipps-product-block .slider-button {
	border-radius: 100%;
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: 0 3px 0.5em;
	background: rgba(0,0,0,0.2);
}

.lipps-product-color-indicator {
	width: 24px;
	height: 12px;
	border-radius: 100%;
	background-color: #fff;
	margin-left:.8rem;
	display:inline-block;
}
